@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1>WELCOME</h1>
    <p>This is a client-server application for getting/editing data about the fridge and the products that are stored in it.</p>
    <a class="btn-info btn text-white" href="/Fridge/Fridges">Fridges</a>
    <a class="btn-dark btn text-white" href="">Call API</a>
</div>

